<mat-card>
    <h2>API Information:</h2>

    <h3><b>API: </b><a href="https://api.rootnet.in"> https://api.rootnet.in </a></h3>
    <h4><b>Case counts:</b></h4>
    <ul>
        <li>
            <a href="https://api.rootnet.in/covid19-in/stats/latest">https://api.rootnet.in/covid19-in/stats/latest</a><br>
        </li>
        <li>
            <a href="https://api.rootnet.in/covid19-in/stats/history">https://api.rootnet.in/covid19-in/stats/history</a><br>
        </li>
    </ul>
    
    <h4><b>Testing stats:</b></h4>
    <ul>
        <li>
    <a
        href="https://api.rootnet.in/covid19-in/stats/testing/latest">https://api.rootnet.in/covid19-in/stats/testing/latest</a>
        </li><li>
    <a
        href="https://api.rootnet.in/covid19-in/stats/testing/history">https://api.rootnet.in/covid19-in/stats/testing/history</a>
    </li><li>
        <a
        href="https://api.rootnet.in/covid19-in/stats/testing/raw">https://api.rootnet.in/covid19-in/stats/testing/raw</a>
    </li>
    </ul>
    <h4><b>Hospitals & beds:</b></h4>
    <ul>
        <li>
            <a href="https://api.rootnet.in/covid19-in/hospitals/beds">https://api.rootnet.in/covid19-in/hospitals/beds</a>
    
        </li>
        <li>
            <a
            href="https://api.rootnet.in/covid19-in/hospitals/medical-colleges">https://api.rootnet.in/covid19-in/hospitals/medical-colleges</a>
        </li>
    </ul>
   
    <h4><b>Contact & helpline: </b></h4>
    <ul>
        <li>
            <a href="https://api.rootnet.in/covid19-in/contacts">https://api.rootnet.in/covid19-in/contacts</a>
        </li>
    </ul>
    <h4><b>Notifications & advisories: </b></h4>
    <ul>
        <li>
            <a href="https://api.rootnet.in/covid19-in/notifications">https://api.rootnet.in/covid19-in/notifications</a> 
        </li>
    </ul>
</mat-card>