<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <a class="navbar-brand">Dashboard</a>
  <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
    &#9776;
  </button>
  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" >
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Overview <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="insights">Insights <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="vaccineFinder">Search Vaccine Slots</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://bbmpgov.com/chbms/" target="_blank">BBMP Hospital Bed Status</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.cowin.gov.in/home" target="_blank">CoWin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contacts">Contacts</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="api">API</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Current Date: {{today | date:'dd-MMM-yyyy'}}, {{today | date:'h:mm:ss a'}}</a>
      </li>
    </ul>
  </div>
</nav>